{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "public/header.html" %}
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Start Switcher -->

<!-- end demo_changer -->
<!-- Preloader  -->
<div id="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- /Preloader ends -->
<div id="page-width">
    <!-- Navbar -->
    {% include "public/nav.html" %}
    <!-- /nav -->
    <!-- Home Page -->
    <div id="main" class="home">
        <!-- Slider -->

        <div class="container-fluid">
            <div class="jumbotron"></div>
            <!-- /jumbotron-->
            <div class="jumbo-heading">
                <!-- Heading -->
                <h1>اهلا بك </h1>
                <!-- Breadcrumb -->

            </div>
            <!-- /jumbo-heading -->
            <!-- Blog page -->
            <div class="container">
                <div id="blog-container" class="col-md-9">
                    <div class="blog-post post-main">
                        <div class="page-header text-center">
                            <h4 class="glyph-icon flaticon-people text-right">بيانات الطفل {{ child.RealName}}</h4>

                        </div>
                        <div class="row margin1">


                            {% for field in images %}
                            <div class="col-lg-4 col-md-4">
                                <!-- Zoom Hover  image -->
                                <div class="img-effect">
                                    <img src="{{ field.image }}" class="center-block img-responsive" alt="">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="alert alert-warning">
                            <ul class="pricing-content">
                            <li>الرقم القومي : {{ child.NationalID}}</li>
                            <li>حلم الطفل : {{ child.HisDream}}</li>
                            <li> تكلفة التبني الشهرية : {{ child.CostPrice}}</li>
                            <li> نوع التبني : {{ child.AdoptionTypeID}}</li>
                            <li> الحالة الصحية : {{ child.CaseHistory}}</li>
                            <li> نوع التبني : {{ child.AdoptionTypeID}}</li>
                            <li> وصف الحالة الصحية : {{ child.HealthStatus}}</li>

                        </ul>              </div>




                    </div>
                    <!-- /comments block -->
                </div>
                <!-- /blog-container -->
                <!-- Sidebar Starts -->
                {% include "Sponser/menu.html" %}
                <!-- /well -->
            </div>
            <!-- /sidebar ends -->
        </div>


        <!-- /Section ends -->
        {% include "public/footer.html" %}
</body>
</html>