{% load static %}
<!DOCTYPE html>
<html lang="en">
 {% include "public/header.html" %}
   <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Start Switcher -->

      <!-- end demo_changer -->
      <!-- Preloader  -->
      <div id="preloader">
         <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
         </div>
      </div>
      <!-- /Preloader ends -->
      <div id="page-width">
         <!-- Navbar -->
          {% include "public/nav.html" %}
         <!-- /nav -->
         <!-- Home Page -->
         <div id="main" class="home">
            {% include "public/slider.html" %}
             {% include "public/team.html" %}


         </div>
         <!-- /main-->
         <!-- Newsletter -->

         <!-- /Section ends -->
 {% include "public/footer.html" %}
    </body>
</html>