{% load static %}
            <section id="call-to-action2" class="container-fluid small-section"
			 data-center="background-position: 50% 0px;"
               data-top-bottom="background-position: 50% -20px;"
              data-bottom-top="background-position: 50% 20px;">
               <div class="text-center col-md-12">
                  <!-- Well -->
                  <div class="well col-md-5 col-md-offset-1">
                     <h4>كفالة مشروع خيري من الدرجة الاولي </h4>
                     <p>يمكنك من خلال مشروعنا التبرع لاي دار ايتام و يمكنك طلب تبني اي طفل بسهولة من خلال طلب تبني طفل</p>
                     <!-- Buttons -->



                  </div>
                  <!-- /well -->
               </div>
               <!-- /text-center-->
            </section>
            <!-- /section ends -->