{% load static %}
   <section id="newsletter" class="small-section bg-color1">
            <div class="container text-center text-light">
               المشروع فكرة لدعم و مساعدة كفالة الاطفال و هو مشروع تخرج لدفعة كلية البحوث و الاحصاء قسم هندسة البرمجيات ٢٠٢١ تحت رعاية<br/> استاذنا الدكتور / عاطف رسلان
               <!-- /col-md-6 -->
            </div>
            <!-- /container -->
         </section>
         <footer>
            <div class="container">
               <div class="col-md-4">
                  <h6>مع تحيات فريق عمل كفالة</h6>

               </div>
               <!-- /.col-md-4 -->
               <div class="col-md-4 res-margin">
                  <ul class="list-unstyled footer-icons">
                     <li><i class="fa fa-phone"></i> (012) 123-123-123</li>
                     <li><i class="fa fa-envelope"></i> الأيميل: <a href="mailto:your@email.com">kafala@email.com</a></li>
                     <li><i class="fa fa-map-marker"></i> ١٢٣ شارع ، القاهرة ، مصر </li>
                     <li><i class="fa fa-clock-o"></i>مواعيد العمل من ٨:٠٠ صباحاً حتي ٩:٠٠ مساءا ً</li>
                  </ul>
               </div>
               <!-- /.col-md-4 -->
               <div class="col-md-4 text-center">
                  <!-- Footer logo -->
                  <img src="{% static 'img/logo.png' %}" alt="" class="res-margin center-block img-responsive">
                  <!--Social icons -->
                  <div class="social-media smaller">
                     <a href="#" title=""><i class="fa fa-twitter"></i></a>
                     <a href="#" title=""><i class="fa fa-facebook"></i></a>
                     <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                     <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                     <a href="#" title=""><i class="fa fa-instagram"></i></a>
                  </div>
               </div>
               <!-- Credits-->
               <div class="credits col-md-12 text-center">
                  <hr/>Copyright © 2021 - Designed by <a href="http://www.Kafalateam.com">Kafala Team</a>
                  <!-- Go To Top Link -->
                  <div class="page-scroll hidden-sm hidden-xs">
                     <a href="#page-top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
                  </div>
               </div>
               <!-- /credits -->
            </div>
            <!-- /.container -->
         </footer>
         <!-- /footer ends -->
      </div>
      <!-- /page-width -->
      <!-- Core JavaScript Files -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js'  %}"></script>
      <!-- Main Js -->
      <script src="{% static 'js/main.js' %}"></script>
      <!-- Open maps -->

      <!-- Contact -->
      <script src="{% static 'js/contact.js' %}"></script>
      <!--Other Plugins -->
      <script src="{% static 'js/plugins.js' %}"></script>
      <!-- Prefix free CSS -->
      <script src="{% static 'js/prefixfree.js' %}"></script>
      <!-- LayerSlider script files -->
      <script src="{% static 'layerslider/js/layerslider.kreaturamedia.jquery.js' %}" type="text/javascript"></script>
	  <!-- Bootstrap Select Tool (For Module #4) -->
<script src="{% static 'switcher/js/bootstrap-select.js' %}"></script>
<!-- UI jQuery (For Module #5 and #6) -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js" type="text/javascript"></script>
<!-- All Scripts & Plugins -->
<script src="{% static 'switcher/js/dmss.js' %}"></script>
