{% load static %}
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Page title -->
    <title>Kafala 2021</title>
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.js' %}"></script>
    <![endif]-->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <!-- Icon fonts -->
    <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/glyphicons/bootstrap-glyphicons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/flaticons/flaticon.css' %}" rel="stylesheet" type="text/css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo%7CLato:400,700,900" rel="stylesheet">
    <!-- Style CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Color Style CSS -->
    <link href="{% static 'styles/maincolors.css'  %}" rel="stylesheet">
    <!-- LayerSlider stylesheet -->
    <link rel="stylesheet" href="{% static 'layerslider/css/layerslider.css'  %}">
    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="72x72" href="https://ingridkuhn.com/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://ingridkuhn.com/apple-icon-114x114.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Switcher Only -->
    <link rel="stylesheet" id="switcher-css" type="text/css" href="{% static 'switcher/css/switcher.css' %}"
          media="all"/>
    <!-- END Switcher Styles -->
    <!-- Demo Examples (For Module #3) -->
    <link rel="alternate stylesheet" type="text/css" href="{% static 'styles/maincolors.css' %}" title="maincolors"
          media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="{% static 'styles/cuteandbright.css' %}"
          title="cuteandbright" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="{% static 'styles/pinkandblue.css' %}" title="pinkandblue"
          media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="{% static 'styles/sweetpastel.css' %}" title="sweetpastel"
          media="all"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>