{% load static %}
		 <!-- Slider -->
      <div id="layerslider">


         <!-- Slide 1 -->
         <div class="ls-slide" data-ls="transition2d:48;timeshift:-2000;">
            <!-- Background image -->
            <img src="{% static 'img/slide1.jpg' %}" class="ls-bg"  alt="Slide background"/>
            <!-- Text -->
            <div class="ls-l header-text" data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeInOutExpo;rotatexin:100;scalexin:0.8;scaleyin:0.8;transformoriginin:50% 50% -150;offsetxout:0;durationout:500;rotatexout:-20;scalexout:0.8;scaleyout:0.8;transformoriginout:50% 50% -150;">
               <h2>مشروع كفالة يتيم</h2>
               <p class="subtitle hidden-xs"> قال رسول الله : أنا وكافل اليتيم في الجنة هكذا،
 وأشار بالسبابة والوسطى وفرج بينهما</p>
               <!-- Button -->
               <div class="page-scroll hidden-xs">
                  <a class="btn" href="#contact">تبرع الان</a>
               </div>
            </div>
         </div>

         <!-- Slide 2 -->
         <div class="ls-slide" data-ls="transition2d:48;timeshift:-2000;">
            <!-- Background image -->
            <img src="{% static 'img/slide2.jpg' %}" class="ls-bg"  alt="Slide background"/>
            <!-- Text -->
            <div class="ls-l header-text"   data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeInOutExpo;rotatexin:100;scalexin:0.8;scaleyin:0.8;transformoriginin:50% 50% -150;offsetxout:0;durationout:500;rotatexout:-20;scalexout:0.8;scaleyout:0.8;transformoriginout:50% 50% -150;">
               <h2>فضل كفالة اليتيم</h2>
               <p class="subtitle hidden-xs"> (فَلَا اقْتَحَمَ الْعَقَبَةَ * وَمَا أَدْرَاكَ مَا الْعَقَبَةُ * فَكُّ رَقَبَةٍ * أَوْ إِطْعَامٌ فِي يَوْمٍ ذِي مَسْغَبَةٍ)</p>
               <!-- Button -->
               <div class="page-scroll hidden-xs">
                  <a class="btn" href="#contact">تبرع الان</a>
               </div>
            </div>
         </div>



      </div>
      <!-- /Layerslider ends-->